snippet cos "Section Comment Block"
// *************************************
//
//   #${1:SECTION TITLE}
//
// *************************************

$0
endsnippet

snippet coss "Sub-section Comment Block"
//   #${1:SUB-SECTION TITLE}
// *************************************

$0
endsnippet

snippet ex "@extend %placeholder;"
@extend %${1:placeholder};
endsnippet

snippet exc "@extend .class;"
@extend .${1:class};
endsnippet
