snippet mat "Margin Tiny"
margin: $spacing-unit--tiny;
${0}
endsnippet

snippet mas "Margin Small"
margin: $spacing-unit--small;
${0}
endsnippet

snippet mam "Margin Medium"
margin: $spacing-unit;
${0}
endsnippet

snippet mal "Margin Large"
margin: $spacing-unit--large;
${0}
endsnippet

snippet mah "Margin Huge"
margin: $spacing-unit--huge;
${0}
endsnippet
