"*":
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
  editor:
    fontFamily: "Input Mono Condensed"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  welcome:
    showOnStartup: false
