"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Input Mono Condensed"
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "linter-eslint":
    useGlobalEslint: true
  welcome:
    showOnStartup: false
